.section__title__one {
  text-align: center;
  position: relative;
  margin-bottom: 4rem;
  bottom: -557px;
  color: $main-color;
  h4 {
    font-size: 2rem;
    letter-spacing: 3px;
    text-transform: capitalize;
    margin-bottom: 1rem;
  }
  div {
    width: 5rem;
    height: 2px;
    margin: 0 auto;
    background: $main-color;
    // background: var(--primaryColor);
  }
}
